{{template "base"}}

{{define "title"}} Register / Bloop {{end}}

{{define "body"}}

<ul>
    <li><a href="/authors">Authors</a></li>
    <li><a href="/loops">Loops</a></li>
    <li><a href="/account">Account</a></li>
  </ul>
  
  <div>
      <form action="#">
        <label for="bio">Bio</label>
        <input type="text" id="bio" name="bio" placeholder="Your Bio">
  
        <label for="books_numbers">Number of Books</label>
        <input type="number" id="books_numbers" name="books_numbers" placeholder="Number of Books">
    
        <label for="books_names">Book Names</label>
        <input type="text" id="books_names" name="books_names" placeholder="Names of your Books">
  
        <label for="featured_books">Books to Feature On</label>
        <input type="text" id="featured_books" name="featured_books" placeholder="Books to Feature On">
  
        <label for="website">Website</label>
        <input type="text" id="website" name="website" placeholder="Your Website">

        <label for="social">Social Link</label>
        <input type="text" id="social" name="social" placeholder="Your Social Link">
    
        <input type="submit" value="Add Info">
    </form>
  </div>

{{end}}